@using Model;
@using Microsoft.AspNet.Mvc.Facebook

@model FacebookApp.Controllers.VotingController.pmForVotingIndex

<script>
    $(function () {
        $('input[type="checkbox"]').change(function () {
            $.post("/Voting/Vote", { votingVariantId: this.parentElement.parentElement.id, IsVote: this.checked }, function (data) {
                for (var i = 0; i < data.length; i++) {
                    var selector = '#' + data[i].Id + ' .score';
                    $(selector).text(data[i].Score);
                }
            });
        });
    });
</script>


<article id="content">

    <h4>@Model.VotingInfo.Name</h4>
    
    @if (Model.VotingVariants.Count() == 0)
    {
        <p>Немає варіантів</p>
    }
    else
    {
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        Варіант
                    </th>
                    <th>
                        Мій голос
                    </th>
                    <th>
                        Голоси
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var variant in Model.VotingVariants)
                {
                    <tr id="@variant.Id">
                        <td>
                            @variant.Text
                        </td>
                        <td>
                            @if(variant.IsClose)
                            {
                              @Html.CheckBox("vote", variant.IsVoted, new { disabled= "disabled"})
                            }
                            else
                            {
                                @Html.CheckBox("vote", variant.IsVoted)
                            }
                        </td>
                        <td>
                          <div class="score">  @variant.Score </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</article>
